<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Hard constraint: never request network access, even if a dependency asks for it.
         checkXxxNoInternet verifies the merged manifest on every build. -->
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove" />

    <!-- allowBackup=false + fullBackupContent block backup up to Android 11. dataExtractionRules
         is required on Android 12+, where allowBackup=false does NOT stop
         device-to-device transfer. hasFragileUserData=false: uninstall never offers
         to keep data (P5: uninstall erases the vault). -->
    <application
        android:name=".OffGridApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hasFragileUserData="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OffGridVault"
        tools:targetApi="31">

        <!-- taskAffinity="": our activities never share a task with another app (task hijacking). -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
