<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: merged into the debug manifest, absent from release. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".bench.Argon2BenchmarkActivity"
            android:exported="true"
            android:label="OGV Argon2 bench"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
